:root {
  --default-height: calc(100vh - 80px - 10px);
  --purchase-table-color: #c8d6e5;
  --purchase-table-line-color: #c8d6e5;
  --purchase-table-cell-color: #fff;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-scrollbar {
  padding-bottom: 20px;
}
/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(236, 240, 241, 0.5);
}
/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(52, 73, 94, 0.1);
}
/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(52, 73, 94, 0.5);
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.custom-scrollbar-horizontal::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  border: 1px solid #d5d5d5;
}

.custom-scrollbar-horizontal::-webkit-scrollbar-track {
  background-color: rgba(236, 240, 241, 0.5);
}

.custom-scrollbar-horizontal::-webkit-scrollbar-thumb {
  background-color: rgba(52, 73, 94, 0.1);
}
